.container {
  display: flex;
  justify-content: flex-end;
  max-width: 1920px;
  width: 100%;
  @media (max-width: 800px) {
    img {
      display: none;
    }
    height: 800px;
    // margin-bottom: 40px;
  }
  position: absolute;
}
.blockImage {
  height: 1024px;
  align-items: center;
  display: flex;
  width: 100%;
  @media (max-width: 800px) {
    height: 800px;
    margin-bottom: 40px;
  }
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
}
.blockLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  h1 {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
  a {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #39adaa;
  }
  p {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 800px) {
    width: 100%;
    a {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    margin-top: -75px;
  }
}
.blockRight {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 1200px) {
    img {
      width: 400px;
      height: auto;
    }
  }
  @media (max-width: 800px) {
    img {
      width: 200px;
      position: absolute;
      bottom: -40px;
      right: 0;
    }
  }
}

.rowContainerSecond {
  display: flex;
  background: #ffffff;
  min-height: 980px;
  justify-content: center;
}
// SectionFive
.rowContainerFive {
  height: 300px;
  justify-content: center;
  align-items: center;
  // background: url("../../../public/GHOST/Section.png") no-repeat center center
  //   cover;
  overflow: hidden;
  @media (max-width: 500px) {
    height: 200px;
  }
}
.colContainerFive {
  display: flex;
  justify-content: space-between;
  height: 300px;
  overflow: hidden;
  @media (max-width: 500px) {
    height: 200px;
    img {
      width: auto;
    }
  }
}

// SectionSix
.rowContainerSix {
  padding-top: 70px;
  height: 850px;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  align-items: end;
  justify-content: center;
  p {
    max-width: 620px;
  }
  @media (max-width: 800px) {
    height: 1150px;
    padding-top: 0px;
  }
}
.ConverLogo {
  height: 300px;
  width: 100%;
  // background: url("../../../public/GHOST/Section.png") no-repeat center center
  //   cover;
  display: flex;
  justify-content: flex-end;
  bottom: 0px;
  @media (max-width: 500px) {
    height: 100px;
  }
}
.ConverImagePhoneHome {
  @media (max-width: 1200px) {
    img {
      height: 400px;
    }
  }
  @media (max-width: 950px) {
    img {
      margin-top: 35px;
      height: 300px;
    }
  }
}
.colContainerSix {
  height: 300px;
  display: flex;
  justify-content: space-around;
  a {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
  }
  @media (max-width: 1200px) {
    a {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 950px) {
    a {
      font-size: 25px;
    }
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 950px;
  }
  @media (max-width: 500px) {
    height: 800px;
    justify-content: flex-end;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 35px;
      color: #000000;
    }
  }
  @media (max-width: 400px) {
    height: 950px;
  }
}
.ConverTitleBottom {
  position: relative;
  bottom: 10%;
  padding-bottom: 80px;
  a {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
  @media (max-width: 1100px) {
    padding: 0 3rem;
  }
  @media (max-width: 800px) {
    padding: 0 1.5rem;
    bottom: 10%;
    a {
      font-size: 22px;
    }
  }
}
