.rowContainer {
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  margin-top: 120px;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 40px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    span {
      font-weight: 800;
    }
  }
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
  }
  ol {
    padding-left: 30px;
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }
  ul {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }
}
