.WrapperHeader {
  z-index: 99;
  position: absolute;
}
.Coverheader {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 8px;
  z-index: 99;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.CoverheaderHidden {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  z-index: 99;
}
.ConverShowMenu {
  background: none;
  height: 0px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
}
.ConverHidenMenu {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  position: fixed;
}
.ConverMenuTitle {
  height: 0px;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  width: 30%;
  right: 0;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding-left: 0px;
    list-style: none;
    li {
      margin: 5px 0;
      a {
        color: none;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 1100px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  img {
    position: absolute;
    bottom: 5%;
  }
}
.ConverHidenMenuTitle {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  height: 100vh;
  width: 30%;
  right: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  overflow: hidden;
  overflow-y: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;

    font-style: normal;
    font-weight: 550;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  ul {
    list-style: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    li {
      margin: 7px 3px;
      transition: all 0.5s ease-in;
      cursor: pointer;
    }
    li :hover {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      color: #39adaa;
      transform: scale(0.3);
      transition: all 0.1s ease-in;
    }
  }
  @media (max-width: 1100px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  img {
    position: absolute;
    bottom: 5%;
  }
}
.ConverIconBar {
  display: block;
  margin: 6px 25px 6px 0px;
  width: 35px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
}
.ConverIconBar2 {
  display: block;
  margin: 6px 0;
  margin-left: 10px;
  width: 25px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
}
.ConverIconBar3 {
  display: block;
  margin: 6px 0;
  margin-left: 20px;
  width: 15px;
  height: 5px;
  background-color: #39adaa;
  transition: all 0.7s ease;
}
.ConverMenuHover {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}
.ConverLogo {
  display: flex;
  height: 65px;
  img {
    margin-left: 35px;
    margin-right: 10px;
  }
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000000;
    padding: 0;
    margin-top: 10px;
  }
  @media (max-width: 500px) {
    img {
      width: 60px;
      height: 50px;
    }
    p {
      font-size: 25px;
    }
  }
}
.ConverLinkLogo {
  text-decoration: none;
}
