.ConverFooter {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 0px;
  background-color: #181b29;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    height: 210px;
  }
  @media (max-width: 500px) {
    height: 220px;
  }
}
.ConverLogoBootom {
  p {
    margin: 0px;
    margin-left: -12px;
  }
  @media (max-width: 500px) {
    position: absolute;
    top: 15%;
    p {
      display: none;
    }
  }
}
.ConverDownload {
  position: absolute;
  right: 2%;
  bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    flex-direction: column;
    bottom: 20px;
  }
  @media (max-width: 500px) {
    flex-direction: row;
    right: auto;
  }
}
.DownloadImages {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 185px;
  /* height: 91px; */
  height: 74px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
  cursor: pointer;
  transition: all 0.7s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  @media (max-width: 500px) {
    width: 150px;
  }
}
