.WrapperAgency {
  height: 500px;
  padding-top: 81px;
  @media (max-width: 500px) {
    height: 370px;
  }
}
.ConverWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ConverPoster {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin-top: 90px;
  @media (max-width: 1200px) {
    max-width: 800px;
  }
  @media (max-width: 800px) {
    max-width: 600px;
  }
  @media (max-width: 600px) {
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ConverColor {
  margin-top: 120px;
  height: 250px;
  background-color: #39adaa;
  width: 100%;
  position: absolute;
  z-index: -1;
  @media (max-width: 500px) {
    margin-top: 50px;
    height: 200px;
  }
}
.ConverTitleAgen {
  // display: flex;
  // align-items: end;
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  /* or 117% */
  color: #000000;
  @media (max-width: 800px) {
    font-size: 40px;
    line-height: 50px;
    padding-right: 90px;
  }
}
.ConverImages {
  @media (max-width: 1200px) {
    img {
      width: 300px;
    }
  }
  @media (max-width: 500px) {
    img {
      width: 220px;
      padding-left: 40px;
    }
  }
}
.ConverText {
  height: 100%;
  width: 100%;
}
.rowContainer {
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  a {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
}
.ConverLogo {
  position: relative;
  width: 100%;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 450px;
  }
  @media (max-width: 500px) {
    img {
      height: 200px;
    }
  }
}
